body {
  font-family: Arial, Helvetica, sans-serif;
}


#card-topic{
  padding-top: 5px;
padding-bottom: 5px;
  text-align: center;
}

#card-description{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 1rem;
    background-color: rgb(241, 216, 234);
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
    display: flow-root;
}


#card-examples{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1rem;
    background-color: rgb(209, 233, 248);
    color : black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.container .submit-form {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f3fcfa; /* soft background color */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.form-control{
  padding:10px;
  border: 0
}

.submit-btn {
  background-color: #ffffff; /* primary button color */
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-left: ridge;
}

.my-swal {
  font-size: 60%;
  padding: 1px;
  width: 150px; /* Adjust width */
  height: 80px; /* Adjust height */
  margin: 0;
  background:rgba(69, 69, 69, 0.509)
}

i.tag {
  position: relative;
}

i.tag:hover{
  background-color: #ffffff57;
}

i.tag:active{
  background-color: hsla(0, 71%, 86%, 0.341);
}

.tag-button-grp {
  position: absolute;
}

.pull-right {
  float: right;
}


/* Use Cases */
.all_use_cases{
  text-align: left;
  margin-bottom: 1rem;
  background-color: rgb(241, 241, 248);
  padding: 1px;
  border-radius: 0px;
}

.all_use_cases .use_case{
  background-color: rgb(223, 223, 249);
  margin: 10px;
  border-radius: .25rem;
  padding: 5px;
}

/* Comparisons */
.all_comparisons{
  background-color: rgb(216, 216, 216);
  padding: 10px;
  border-radius: 0.75rem;
}
