{% load static %}

<div class="all_comparisons">
     {% csrf_token %}
     {% for comparison in comparisons %}
          <div class="table-responsive">
               <input type="hidden" id="cmp-id" value="{{comparison.id}}"/>
               <input type="hidden" id="cmp-url" value="{% url 'edit-comparison' comparison_id=comparison.id %}"/>
               <table class="comp table table-dark table-striped m5" data-url="{% url 'comparisons-data' comparison_id=comparison.id %}"> 
                    <thead>
                         <tr>
                              <th>{{comparison.comparison1}}</th>
                              <th>{{comparison.comparison2}}</th>
                         </tr>
                    </thead>
                    <tbody></tbody>
               </table>
          </div>
          <hr>
     {%endfor%}
 </div>

{% block javascript %}
<script src="{% static 'js/comparison.js' %}"></script>
{% endblock %}